<div class="card shadow mb-3">
    <!-- Header -->
    <div class="card-header text-center">
        <h4 class="text-primary">{{reporte.title}}</h4>
    </div>
    <!-- Body -->
    <div class="card-body text-center text-md-start">
        <div class="d-block d-md-flex">
            <!-- Imagen -->
            <div class="img-container mx-auto mx-md-0">
                <img src={{reporte.image}} class="object-fit-cover">
            </div>
            <!-- Detalle reporte -->
            <div class="pt-3 pt-md-0 ps-md-3">
                <p class="fw-bold">Última vez visto : {{reporte.ultimo_visto}} </p>
                <p>{{reporte.description}}</p>
                <p>Contacto: {{reporte.contact}} </p>
                <p> {{reporte.country}} </p>
                <a target="_blank" class="btn btn-warning rounded-pill" href={{reporte.url}}>Ver reporte
                    completo</a>
            </div>
        </div>
    </div>
</div>
